{
  "presets": ["next/babel"],
  "plugins": ["@babel/plugin-transform-runtime"],
  "overrides": [
    {
      "test": "*.jsx", // Use Babel only for .jsx files
      "presets": ["next/babel"]
    }
  ]
}